html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}   

#navitem{
    border-radius: 10px;
}
#navitem:hover{
    background-color: rgb(1, 63, 17);
    border-radius: 10px;
}

#footercontent {
    font-size: 30px;
    
    
}
#footercontent ul li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
#name{
   font-weight: 700;
   color: #046d27;
}

#Info{
    padding: 10px;

    background-color:  #037c177e;
    color: #ffffff;
    border-radius: 20px;
    text-align: justify;
    
}
#info p{
    font-weight: 600;
    
}

#Titles{
    font-size: 50px;
    border-bottom: #0ec75b solid;
    color: #ffffff;
     background-color:  #037c177e;
     padding: 15px;
     font-weight: 900;
}
#cardtext{
  color: #046d27;
    border-radius: 30px;
    text-align: justify;
    font-weight: 600;
}
#cardtitle{
    border-bottom: solid #0ec75b ;
    font-weight: 800;
    color: #046d27;
}
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
        color: #ffffff;
    height: 20px;
    width: 20px; 
  }

  .carousel-control-prev,
  .carousel-control-next {
       background-color: #10c42e; 
    height: 50px;
    width: 50px; 
    border-radius: 50%; 
    padding: 0; 
  }
#Profile{
    font-weight: 600;
    color: #046d27;
}
  .navbar-toggler {
    border-color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.custom-toggler-icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: relative;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  left: 0;
}

.custom-toggler-icon::before {
  top: -8px;
}

.custom-toggler-icon::after {
  top: 8px;
}
#Main1{
  margin-top: 70px;
}