html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}   

#navitem{
    border-radius: 10px;
}
#navitem:hover{
    background-color: #013f11;
    border-radius: 10px;
}

#footercontent {
    font-size: 30px;
    
    
}
#footercontent ul li{
    list-style: none;
    
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler-icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: relative;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  left: 0;
}

.custom-toggler-icon::before {
  top: -8px;
}

.custom-toggler-icon::after {
  top: 8px;
}
#Main1{
    margin-top: 70px;
}

#Title{
  padding: 20px;
  margin-bottom: 50px;
  background-color:  #11ad2b6b;
  border-radius:15px;
}

#contactTitle{
  font-weight: 750;
  background-color:#169705 ;
  color: #ffffff;
  border-radius: 14px;
  text-align: center;
  padding: 20px;
}
#para{
  font-size: 20px;
  font-weight: 600;

  color: #046d27;
}
#Contact{
  font-size: 80px;
  font-weight: 900;
  color: #046d27;
}
.form-label{
  font-weight: 600;
}
#contacts{
  background-color:    #147a06ad;
  padding: 20px;
  border-radius: 15px;
  color: #ffffff;
}
#contacts:hover{
  background-color: #169705;
}
.icon-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


