html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

  .navbar-toggler {
    border-color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
.custom-toggler-icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: relative;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  left: 0;
}

.custom-toggler-icon::before {
  top: -8px;
}

.custom-toggler-icon::after {
  top: 8px;
}

#Main{
    background-image: url(../Pictures/Graphic/115342.jpg),  linear-gradient(to right, rgba(255, 230, 230, 0.63), rgba(114, 117, 122, 0.466));
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(145, 142, 142, 0.349);
    background-blend-mode: darken;
    margin-top: 70px;
    
}


#cards{
    background-color:  #11ad2b6b;
    color: #ffffff;
    font-weight: 900;
}

#column1{
    color: #ffffff;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:  #11ad2b6b;
    border-radius: 30px;
}

#Highlight{
    font-size: 60px;
}

.card-title{
    font-weight: 700;

    font-size: 40px;
}

#navitem{
    border-radius: 10px;
}
#navitem:hover{
    background-color: rgb(1, 63, 17);
    border-radius: 10px;
}

#footercontent {
    font-size: 30px;
    
    
}
#footercontent ul li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
