html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}   
body{

     background: fixed center no-repeat url(../Pictures/Graphic/448283-green-honeycomb-abstract-background-wallpaper-and-texture-concept.jpg) ;

}

#navitem{
    border-radius: 10px;
}
#navitem:hover{
    background-color: rgb(1, 63, 17);
    border-radius: 10px;
}

#footercontent {
    font-size: 30px;
    
    
}
#footercontent ul li{
    list-style: none;
    
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#Main{
    
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 20px;
}

#title{
    font-weight: 900;
    font-size: 80px;
     color: #ffffff;
    border-bottom: solid ;
    border-radius: 10px;
}
#para{
    font-weight: 600;
    font-size: 30px;
      color: #ffffff;
}