html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}   

#navitem{
    border-radius: 10px;
}
#navitem:hover{
    background-color: rgb(1, 63, 17);
    border-radius: 10px;
}

#footercontent {
    font-size: 30px;
    
    
}
#footercontent ul li{
    list-style: none;
    
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



#ProjectTitle{
  padding: 20px 5px 20px 5px;
  background-color: #169705;
  color: #ffffff;
  border-radius: 10px;
}
#Title{
  background-color: #0c8820a6;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  margin: 0 0 10px 0;
  text-align: center;
  border-radius: 10px;
  
}

#Titleh1{
  font-weight: 900;
  font-size: 80px;
}
#Main1{
  margin-top: 70px;
}

#Titlepara{
  font-weight: 700;
}
.card-title{
  font-weight: 650;
  color: #169705;
}
.card-text{
  font-weight: 550;
  color: #169705;
}
.card{
  background-color: #16970548;
  border-radius: 15px;
}